# Ignorar carpetas de dependencias
node_modules/
# System files
.DS_Store
Thumbs.db

# Log files
*.log

# IDE files
.vscode/
.idea/

# Environment files
.env

*.swp
package-lock.json
npm-debug.log*
cdk.context.json
.cdk.staging
cdk.out
app-cdk/
cdk.out/